:root {
    --primary-color: #0f0f0f;
    --white: #f3f3f3;
    --red: #ec0101;
    --dark-blue: #0779e4;
    --green: #54e346;
}

#text-input {
    display: block;
    height: 7vh;
    width: 60%;
    border: 2px solid var(--primary-color);
    margin: 0 auto;
    margin-top: 15vh;
    padding: 1rem;
    color: var(--red);
    font-size: 18px;
}
#output {
    display: block;
    height: 10vh;
    width: 70%;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    padding: 1rem;
    color: var(--dark-blue);
    text-align: center;
}
div {
    margin: 1rem;
    font-size: 300px;
}
#btn:hover {
    background-color: var(--green);
    color: var(--white) ;
}
#btn {
    display: block;
    margin: 8px auto;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    padding: 3px 8px;
    background-color: var(--green);
    font-size: small;
}